*{
    padding: 0;
    margin: 0;
    font-family:"Arial";
}
.header{
    background: black;
    color:white;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
    z-index: 1;
}


.button-log{
    color:black;
    font-size: 18px;
    background-color: white;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    margin-top:15px;
    margin-left: 35%;
}
.button-log:hover{
    background-color: red;
    color:white;
}

.nav-links{
    text-align: right;
    background: red;
    padding: 10px 30px;
    border-bottom-left-radius: 20px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li a:hover{
    color:black;
}
.individ-block{
    display: grid;
    grid-template-areas: 200px 1fr;
    grid-column-gap: 20px;
}
.container-individ{
    grid-column-start: 1;
    grid-column-end:2;
    margin-left: 20px;
    margin-right: 10px;
    margin-top:15px ;
    padding: 40px;
    border-left: 7px solid indianred;
    border-bottom: 4px solid black;
    font-style: italic;
    line-height: 26px;
    font-weight: normal;
    font-size: 18px;
}
.MainPage{
    display: grid;
    grid-template-areas: 300px  1fr;

}
.MainPageInfo_block{
    display: grid;
    grid-column-start:2;
    grid-column-end: 3;
}
.container{
    margin-right: 50px;
    margin-top:15px ;
    padding: 40px;
    border-left: 7px solid indianred;
    border-bottom: 4px solid black;
    font-style: italic;
    line-height: 26px;
    font-weight: normal;
    font-size: 18px;
}
.search_block{
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    margin-top:50px;
    margin-left: 10px;
    padding: 10px;

}
.search{
    font-size: 15px;
    width: 150px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
}
.search_button{
    color:black;
    font-size: 14px;
    background-color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}
.search_button:hover{
    background-color: red;
    color:white;
}
.image-container{
    grid-column-start: 0;
    grid-column-end: 1;
    margin-left: 40px;
    margin-top:100px
}
.individ-photo{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.username{
    font-size: 20px;
    width: 400px;
    height: 50px;
}
.password{
    font-size: 20px;
    width: 400px;
    height: 50px;
}

.log-form{
    margin-top:15px ;
    font-weight: normal;
    padding: 5px;
}
.main-login{
    display: grid;
    justify-content: center;
}
.RegPage{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}
.email{
    font-size: 20px;
    width: 400px;
    height: 50px;
}
.AddArticle{
    display: grid;
    justify-content: center;
}
.name{
    font-size: 14px;
    width: 400px;
    height: 40px;

}
.surname{
    font-size: 14px;
    width: 300px;
    height: 50px;

}
.philosophy_name{
    font-size: 14px;
    width: 300px;
    height: 40px;

}
.philosophy{
    font-size: 12px;
    width: 500px;
    height: 150px;

}
.birth_time{
    font-size: 14px;
    width: 100px;
    height: 40px;

}
.death_time{
    font-size: 14px;
    width: 100px;
    height: 40px;
}
.button_add{
    margin-top: 10px;
    color:black;
    font-size: 20px;
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 5px;

}
.button_add:hover{
    background-color: red;
    color:white;
}
.ArticleField{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.Username_Loged{
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color:orange;
    border-right: 3px solid black;
    padding: 15px;
}