<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
    <title>{{ title }}</title>
</head>
<body>

{% block MainMenu %}
    <header class="header">
        <nav>
            <a href="{% url 'MainPage' %}" class = 'logo' >Sarca</a>
            <div class="nav-links">
                    <ul>
                        {% if request.user.is_authenticated %}
                            <li ><a href="{% url 'AddArticle' %}" >Добавить статью</a></li>
                            <a href="#" class="Username_Loged" >{{ user.username }}</a>
                             <li ><a href="{% url 'logout' %}" >Выйти</a></li>
                        {% else %}
                        <li ><a href="{% url 'Register' %}" >Регистрация</a></li>
                        <li ><a href="{% url 'Login' %}" >Вход</a></li>
                        <li ><a href="{% url 'individuals' %}" >Личности</a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>

    </header>
{% endblock MainMenu %}


{% block Content %}

{% endblock Content %}





</body>
</html>