<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
    <title>{{ title }}</title>
</head>
<body>

{% block MainMenu %}
    <header class="header">
        <nav>
            <a href="{% url 'MainPage' %}" class = 'logo' >Sarca</a>
            <div class="nav-links">
                    <ul>
                        <li ><a href="{% url 'Register' %}" >Логин</a></li>
                        <li ><a href="{% url 'Login' %}" >Регистрация</a></li>
                        <li ><a href="{% url 'AddArticle' %}" >Добавить статью</a></li>
                    </ul>
            </div>
        </nav>

    </header>
{% endblock MainMenu %}
{% block Idea %}

{% endblock Idea %}

{% block Content %}
{% endblock Content %}





</body>
</html>