{% extends 'Philosophy/base.html' %}
{% block Content %}
            {% for individ in object_list%}
                <div class = "individ-block">
                 <div class = 'image-container'>
                     <img src="{{individ.photo.url}} " alt="Individual" class="individ-photo">
                 </div>
                 <div class="container-individ">
                        <p>{{ individ.name }} {{ individ.surname }}</p>
                        <p>{{ individ.birth_time }} - {{ individ.death_time }}</p>
                        <p>{{ individ.biography }}</p>
                 </div>
                <hr>
                </div>
            {% endfor %}



{% endblock Content %}