{% extends 'Philosophy/base.html' %}
{% block Content %}
            {% for philopsher in philosophers %}
                 <div class="container">
                        <p > Философ:  {{ philopsher.name }} {{ philopsher.surname }} </p>
                        <p > Идея:  {{ philopsher.philosophy_name }} </p>
                        <br>
                        <p>{{ philopsher.philosophy }}</p>
                        <br>
                        <p>Период жизни:{{ philopsher.birth_time }} - {{ philopsher.death_time }}</p>
                 </div>
            {% endfor %}


{% endblock Content %}